name: build


on:
  push:
    branches:
      - 'feature/**'
      - 'fix/**'
    paths:
      - 'Sources/**'
      - 'Examples/**'
      - 'Tests/**'


jobs:
  build:
    uses: madmachineio/actions/.github/workflows/build.yml@main
    with:
      runners: '["ubuntu-24.04", "macos-13", "macos-14"]'